<el-row :gutter="12" class="real-time-form">
  <el-col :span="24">
    <el-row>
      <el-col :span="24">
        <el-card class="box-card">
          <Collector :collector-id="collectorId"></Collector>
        </el-card>
      </el-col>
      <el-col :span="24" style="margin-top: 12px;">
        <el-row :gutter="12">
          <el-col :span="6"
                  v-for="(item,i) in model" :key="i"
                  class="clock-display">
            <div class="clock-field">
              <div class="numbers">
                <p class="type" style="color: #e7f0ff;">{{item.paramsName || '&nbsp;'}}</p>
              </div>
            </div>
            <div class="clock-field">
              <div class="numbers">
                <p class="minutes">{{modelData[item['paramsKey']] | numberRound}}</p>
                <!--<p class="placeholder">88.8</p>-->
                <p class="type">单位（{{item.unitName}}）</p>
              </div>
            </div>
          </el-col>
        </el-row>
      </el-col>

    </el-row>
  </el-col>

</el-row>

